body {
  text-align: center;
  font-family: "Montserrat";
  color: #4f4239;
}


/* Containers */
.container-fluid {
  padding: 2% 15%;
}

/* Sections */
.color-section {
  background-color: #9b8677
}

.white-section {
  background-color: #fff;
}


/* Navigation Bar */
#title {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
}

.nav-item {
  padding: 0 18px;
}


/* Cafes Section*/
#cafes {
  padding: 7% 0 10%;
}
.card {
  padding: 10px;
}

.card-title {
  font-weight: 600;
}

.cafe-column {
  padding: 20px;
}

.cafe-icon {
  margin: 10px;
  color: white;
}

.icon-available {
  color: #9b8677;
}

.home-cafe-detail {
padding: 5% 20%;
  text-align: left;
  color: #9b8677;
}


/* Detail Section */
#detail {
  padding: 10% 0;
  text-align: left;
  line-height: 30px;
  min-height: 550px;
}

#detail p {
  color: #9b8677;
}

.detail-column {
  padding: 10px;
}

.cafe-img {
  max-width: 100%;
  object-fit: cover;
}


/* Cafe Editor Form */
.cafe-form {
  padding: 10% 30%;
  text-align: left;
}



/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #9b8677
  text-align: center;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}

.social-icon {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.social-icon:hover {
  color: #dcc7b9
}


/* Query */
@media (max-device-width: 500px) {
  h1, h2, h3, h4, h5, h6, p, a, i {
    font-size: 140%;
  }
  #cafes {
    padding: 20% 0;
  }
  #detail {
    padding: 20% 0;
  }
  .cafe-form {
    font-size: 140%;
    padding: 20% 20%;
  }
}
