body {
  text-align: center;
  font-family: "Montserrat";
  color: #4f4239;
}


/* Containers */
.container-fluid {
  padding: 2% 15%;
}

/* Sections */
.color-section {
  background-color: #9b8677
}

.white-section {
  background-color: #fff;
}


/* Navigation Bar */
#title {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
}
.navbar-brand{
  font-size: 150%
}
.nav-item {
  padding: 0 18px;
  font-size: 120%
}


/* Cafes Section*/
#cafes {
  padding: 7% 0 10%;
}
.card {
  padding: 10px;
}
#cafes a {
  text-decoration: none;
}

.card-img {
  object-fit: cover;
  height: 200px;
  width: 100%
}

.card-title {
  padding: 3%;
  font-weight: 600;
  color: #4f4239;
}

.cafe-column {
  padding: 20px;
}

.cafe-icon {
  margin: 10px;
  color: white;

}

.icon-available {
  color: #9b8677;
}

.home-cafe-detail {
  padding: 7% 5% 0;
  text-align: left;
  color: #9b8677;
}

.card:hover {
  background-color: #d6cec8;
}
.card:hover .cafe-icon {
  color: #d6cec8;
}
.card:hover .icon-available {
  color: #9b8677;
}


/* Detail Section */
#detail {
  padding: 10% 0;
  text-align: left;
  line-height: 30px;
  min-height: 550px;
}

.detail-column {
  padding: 10px;
  color: #9b8677;
}

.detail-title {
  color: #4f4239;
}

.detail-info {
  padding: 10px 0;
}

.cafe-img {
  width: 100%;
  object-fit: cover;
}


/* Cafe Editor Form */
.cafe-form {
  padding: 10% 30%;
  line-height: 200%;
  text-align: left;
  font-size: 120%
}



/* Footer */
.footer {
  background-color: #9b8677
  text-align: center;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}

.social-icon {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.social-icon:hover {
  color: #dcc7b9
}


/* Query */
@media only screen and (max-device-width: 480px) {
  h1, h2, h3, h4, h5, h6, p, a, i {
    font-size: 140%;
  }
  #cafes {
    padding: 7% 0 10%;
  }
  .card-img {
    object-fit: cover;
    height: 400px;
    width: 100%
  }
  .home-cafe-detail {
    padding: 7% 25% 0;
    text-align: left;
  }
  #detail {
    padding: 10% 0;
    font-size: 140%;
  }
  .cafe-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
  .cafe-form {
    font-size: 140%;
    padding: 15% 20%;
  }
}
