<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>



  <section id="detail" class="white-section">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12 col-lg-6 detail-column">
          <!-- Cafe Name -->
          <h3>{{cafe.name}}</h3>


          <!-- Cafe Facility -->
            {% if cafe.has_wifi : %}
            <i class="far fa-wifi cafe-icon icon-available"></i>
            {% else : %}
            <i class="far fa-wifi cafe-icon"></i>
            {% endif %}
            {% if cafe.has_sockets : %}
            <i class="far fa-plug cafe-icon icon-available"></i>
            {% else : %}
            <i class="far fa-plug cafe-icon"></i>
            {% endif %}
            {% if cafe.can_take_calls : %}
            <i class="far fa-phone cafe-icon icon-available"></i>
            {% else : %}
            <i class="far fa-phone cafe-icon"></i>
            {% endif %}
            {% if cafe.has_toilet : %}
            <i class="far fa-toilet cafe-icon icon-available"></i>
            {% else : %}
            <i class="far fa-toilet cafe-icon"></i>
            {% endif %}


          <br>
          <br>

          <p class="fas fa-map-marker-alt"> {{cafe.location}}</p>
          <br>
          <p class="fas fa-tag"> {{cafe.coffee_price}}</p>
          <br>
          <p class="fas fa-chair"> {{cafe.seats}}</p>



        </div>



        <div class="detail-column col-md-6">
          <img class="cafe-img" src={{cafe.img_url}}>
        </div>

        <div class="row">
          <div class="detail-column col-md-6">
            <div class="d-grid gap-2">
              <a class="btn btn-outline-secondary map-link" href={{cafe.map_url}}>MAP</a>
            </div>
          </div>
          <div class="detail-column col-md-6">
            <a class="btn btn-secondary" href="{{ url_for('edit_cafe', cafe_id=cafe.id)}}">Edit</a>
            <a class="btn btn-danger" href="{{ url_for('delete', id=cafe.id) }}">Delete</a>
          </div>
        </div>

      </div>

  </section>





</body>
{% include "footer.html" %}

</html>
