{% include "header.html" %}

  <section id="cafes" class="white-section">
    <div class="container-fluid">
      <div class="row">

        {% for cafe in cafes : %}
        <div class="col-12 col-lg-6 col-xl-4 cafe-column">
          <a href="/cafe/{{cafe.id}}">
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">{{cafe.name}}</h5>


                {% if cafe.has_wifi : %}
                  <h5 class="far fa-wifi cafe-icon icon-available"></h5>
                {% else : %}
                  <h5 class="far fa-wifi cafe-icon"></h5>
                {% endif %}
                {% if cafe.has_sockets : %}
                  <h5 class="far fa-plug cafe-icon icon-available"></h5>
                {% else : %}
                  <h5 class="far fa-plug cafe-icon"></h5>
                {% endif %}
                {% if cafe.can_take_calls : %}
                  <h5 class="far fa-phone cafe-icon icon-available"></h5>
                {% else : %}
                  <h5 class="far fa-phone cafe-icon"></h5>
                {% endif %}
                {% if cafe.has_toilet : %}
                  <h5 class="far fa-toilet cafe-icon icon-available"></h5>
                {% else : %}
                  <i class="far fa-toilet cafe-icon"></i>
                {% endif %}


                <div class="home-cafe-detail">
                  <h6 class="fas fa-map-marker-alt"> {{cafe.location}}</h6>
                  <br>
                  <h6 class="fas fa-tag"> {{cafe.coffee_price}}</h6>
                  <br>
                  <h6 class="fas fa-chair"> {{cafe.seats}}</h6>
                </div>

            </div>
          </div>
          </a>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>

{% include "footer.html" %}

